# Introduction

This lab will help you through the basics of Python.

We will go through:
* Using the Jupyter notebook
* Printing messages
* Simple mathematics
* Variables and Data Types
* String operations: len, concat, replace, find, split
* Functions
* If and else
* Lists: length, finding, sorting
* For loops
* Dictionaries
* Some final exercises

You can get more detail on almost all of this at the official python tutorial, which is well worth reading if you get stuck. You can find that here: https://docs.python.org/3/tutorial/ (small note - you can ignore Section 2 in that link, as we are running Python in a Notebook; you can also run Python on your local machine, of course).

Before we start programming, a quick introduction to the notebook. This is a "Text" cell - it does not have any code in. You can make a text cell by using the "Cell" menu above, and choosing "Cell Type" -> Markdown.

This uses wiki syntax, so you can make [Links](https://guides.github.com/features/mastering-markdown/). And
* lists
* of
* information.

When you press "Run" or Shift-Enter on a text cell, it will turn into formatted text.

Text cells are helpful to document your code and answer assignment questions.

The next cell is a "Code" cell. Here's a line that prints "Hello!". If you select the next cell, and press the Run button in the toolbar, you should see it output Hello. 

Code cells have to contain valid Python - that means that everything in them should be valid Python code.

In [19]:
print('Hello!')

Hello!

You can tell a code cell because it will have `In [1]:` or something similar on the left hand side. A code cell can have one line of code (like the one above), or several lines (see below). The lines of code get run in order. If it is a code cell, you can press the Run button in the toolbar to run the code. By the way, you can also run the contents of a cell by clicking on it and pressing `Shift+Enter`.

In [20]:
print('Nice to meet you!')

Nice to meet you!

Now change the cell below so that it prints your name. Some code has comments in - these are things that help humans to understand it, but will be ignored by the computer. In Python, comments start with a `#` sign. (On Macs, this is normally `Alt+3`). These are often used to explain what code does, and in these exercises, they are used to give instructions.

In [21]:
# write your code below this line:

#print('Hello world!')

Comments can be on their own line, or they can be after a line of code.

In [22]:
print('This is a line of code')
#This is a comment
print('This is another line of code') #And this is another comment

This is a line of code
This is another line of code

# Maths

Programs often do some calculations, so here are some simple ones. You don't need to explicity `print` the result in these cases - try running each cell, and you will see a line with the output in, that says `Out[3]` next to it. This tells you what has happened when you run the code.

In [23]:
2 + 4 # Addition

6

In [24]:
5 - 7 # Subtraction

-2

In [25]:
6 / 5 # Division

1.2

In [26]:
3 * 4 # Multiplication

12

Write a cell that does some simple calculations - try adding up all the numbers in todays date, or adding the number of letters in your first and second names. What happens if you do several calculations in the same cell?

In [27]:
# Some calculations here...
print(4+9)

# If everyone in the class drinks 2 glassess of water per day for 7 years, how many glassess of water are drunk?

13

Note that, when you excecute a cell with several statements, only the result of the last one gets output:

In [28]:
4 + 6
10 + 10

20

To output the result of other statemnts, use the `print()` function:

In [29]:
print(4 + 6)
print(10 + 10)
# you can also create variables... 
x = 4+6
print(x)
# .. and add additional information 
y = 10 + 10
print("10 + 10 = " + str(y))

10
20
10
10 + 10 = 20

The `str()` function in the last line converts an a number (an integer) into a string (text). 

Let's see what integers and strings are and why they matter!

# Data Types
There are several different kinds of data that you will find in python. To start with, we are interested in:
* Integers (int): these are the counting numbers, 1, 2, 3, 4 etc. 
* Floating point numbers (float): these are numbers with decimal places, e.g. 1.5, 2.4, 3.14159 etc.
* Strings (str): these are sequences of characters, which look like text.

You can find what type something is with the `type()` function:

In [30]:
type(1) #Integer

int

In [31]:
type(2.4) # Float

float

In [32]:
type('Hello')

str

In [33]:
type('1') # If there are quotes, it is a String, even if the bit inside looks like a number

str

In [34]:
type( 1 + 2 )

int

In [35]:
type( 4 / 2 ) # When you do division, you always get a float!

float

Types are important - if you try to put the wrong things together, you will get an error:

In [36]:
'hello' + 1

TypeError: can only concatenate str (not "int") to str

# Errors

Often, your code will have errors in the first time you run it - this is a normal part of programming!

When you run the code above, it will print a bit of coloured text, which may be very confusing at first. There are three important things to take from the error above:
* it says `TypeError`. This tells you what kind of thing has gone wrong. In this case, it is because we are mixing up strings and integers - things of different types. The name of the error is a clue about what the problem is.
* it points to the bit of code that has gone wrong. The output `----> 1 'hello' + 1'` means that the error is on line 1 of cell, in that particular bit of code.
* the final line `TypeError: must be str, not int` often gives a hint about how to fix things. In this case it is telling you that you need a string, not an integer after the plus sign.

Learning to read error messages will really help with your programming. The trick is to gradually learn which bits are helpful, and ignore the stuff that doesn't make sense yet - you can get a lot of useful information without understanding the whole message!

# Strings
A string is a sequence of characters---mostly, they are used to represent text that people can read. They are mostly surrounded by quotes (either single ' or double ") like this:

In [37]:
print('hello')

hello

Strings can be concatenated, using +

In [38]:
'good' + 'morning'

'goodmorning'

Python can tell us how long a string is:

In [39]:
len('Hello')

5

How long is the string 'Supercallifragalistic'?

In [40]:
len('Supercallifragalistic')

21

What is the combined length of 'Supercallifragalistic' and 'Expialidocious'? Try doing it by:
1. combining the strings, and then calculating the length
2. calculating the length of each string, and adding the numbers together

In [41]:
# Combine strings, get length of whole string
str1 = 'Hello, '
str2 = 'World!'
str3 = str1 + str2
len(str1)
len(str2)
len(str3)

13

In [42]:
# Get length of each string (integer) and then add them up
totalLen = len(str1) + len(str2)
totalLen

13

Strings have lots of useful methods! You can find them on the reference page: (https://docs.python.org/3/library/stdtypes.html#text-sequence-type-str)

In section 4.7.1, you will find lots of "methods" - these are functions you can run on a String. The first one has a description like this:

str.capitalize()
* Return a copy of the string with its first character capitalized and the rest lowercased.

We can use it like this:

In [43]:
'hello'.capitalize()

'Hello'

Some of the functions take an argument - you have to tell it some extra information. For example:

str.count(sub[, start[, end]])
* Return the number of non-overlapping occurrences of substring sub in the range [start, end]. Optional arguments start and end are interpreted as in slice notation.

This means that we need to tell count what to look for (you can ignore the start and end parameters for now). So, to count how many times 'cat' shows up in the string 'gatacatacataccatagcagcat', we would do:

In [44]:
'gatacatacataccatagcagcat'.count('cat')

4

How many times does 'dog' show up in 'dogdgdgdoogogoggdogdoggo'?

In [45]:
'dogdgdgdoogogoggdogdoggo'.count('dog')

3

Some functions give you a new string - for example, you can replace all the dogs with cats:

In [46]:
'dogdgdgdoogogoggdogdoggo'.replace('dog','cat')

'catdgdgdoogogoggcatcatgo'

Some functions tell you whether something is true or not. For example, is the string lowercase?

In [47]:
'abc'.islower()

True

In [48]:
'ABC'.islower()

False

Have a look through some of the string functions in the documentation, and see what they do - experiment! You will not understand all of them, but don't worry - some of them are only for certain special situations.

## String Recap
Now you know how to:
* join two strings together with +
* use len() to find the length of a string
* change the case of strings
* find letters or sequences within a string

## String Exercises
* how many times does the letter b show up in "Ba-Babra-Ann"? Count both uppercase and lowercase versions

In [49]:
# Put your code here to answer the question:
def lower_count(letter, word):
    return word.count(letter)
lower_count("b","Ba-Babra-Ann")

1

In [50]:
def upper_lower_count(letter, word):
    return word.lower().count(letter)

upper_lower_count("b","Ba-Babra-Ann")

3

# Converting Data
Sometimes you need to convert data from one type to another. Mostly, this will be turning strings into numbers or numbers into strings. You can use 

* `int()` to turn most things into an integer, 
* `float()` to turn things into a float, and 
* `str()` to turn things into a string:

In [51]:
int("3") # Turn the string "3" into an integer

3

In [52]:
float("3") # Turn "3" into a float

3.0

In [53]:
str(3) # Turn the integer 3 into a string

'3'

Sometimes it doesn't work - for example, you can't turn a string with decimal places into an int:

In [54]:
int("3.5")

ValueError: invalid literal for int() with base 10: '3.5'

And you can't turn text into numbers:

In [55]:
int('hello')

ValueError: invalid literal for int() with base 10: 'hello'

As you know, numbers and strings work differently. For example:

In [ ]:
3 + 3

In [ ]:
'3' + '3'

## Conversion exercises
* Use the string "5" twice to get "55", turn it into an int, and then add 5 to get 60

In [ ]:
# Concatenate two copies of "5" to get "55", turn it into an int, and then add 5 to get 60
int("5" + "5") + 5

# Variables
Often, we want to store some data to refer to later by name. This is called creating a variable and a variable is simple string that makes some sense to you (the programmer). Variables are assigned __values__ like this:

In [ ]:
name = "Jimmy"
height = 7.7
arms = 2

Once we have data as a variable, we can use it in calculations, and change its value. Try to figure out what will be printed before you run each of the following blocks:

In [ ]:
x = 5
y = 3
z = x + y
print(z)

In [ ]:
x = 3
y = 4
x = x + 3
z = x + y
print(x)
print(z)

In [ ]:
x = 3
z = x + 3
x = 7
print(z)

# Conditions with `if` and `else`
Programs often make decisions about what to do based on data and the values in variables. This is often done with "if" statements. An if statement has:
* a __condition__, which might be  `true` or `false`
* an action, to do if the condition is `true`

True and false are "boolean" values (which is just a fancy way of saying something that can be true or false).
They often come from comparing things - is this number bigger than that number? are these strings the same? - or they come from testing something about the world - is it raining at the moment? has the user pressed a button?

Important is that conditions always either `true` or `false`. They are never "maybe" or "unknown" or anything else.

Comparing things works as follows: 

* start the row with the keyword `if`, followed by the condition. 
* end the row with double point :, 
* the __action__ must be intended through a single tab (press the tab key once).

In [ ]:
if 5 > 4:
    print('Mathematics is working: 5 > 4!')

In [ ]:
if 5 < 4:
    print('Mathematics is not working: 5 > 4!') # This line should not be shown below!

Sometimes, you want to do something if the condition is __not `true`__ (i.e. it's `false`). This happens with an `else` statement followed by the intented action (again, using a single tab intent)
- we can combine the two rows above:

In [ ]:
if 5 > 4:
    print('Mathematics is working: 5 > 4!')
else:
    print('Mathematics is not working: 5 > 4!')

There are lots of comparison operators here: https://docs.python.org/3/library/stdtypes.html#comparisons
Try a few of them out to make sure you understand.

### NOTE: Indentation
You will notice that some of the lines above are "indented" - they don't start at the beginning of the line. These are blocks of code - in Python, all the lines of a block have the same indentation:

In [ ]:
if False:
    print("This is inside the block") # This won't be run, because False is not True
print("This is outside the block") #This will be run, because it is not indented, so it is not controlled by the "if"

You can find an explanation of intendation and blocks here: http://www.python-course.eu/python3_blocks.php

If and Else statements often use variables and can be nested. Here's an example (try changing the values for raining and hungry to see what happens)

In [ ]:
raining = True
hungry = False
if hungry:
    if raining:
        print("Taking an umbrella and running to Peppers")
    else:
        print("Picnic on the meadows!")
else:
    if raining:
        print("Staying at home")
    else:
        print("Going for a nice walk")

## Exercise:

Now try to write something in your life as an if/else statement. Think of two variables, and some things that you might do depending on those variables, and write a plan of action that covers all of the possibilities.

In [ ]:
condition = input("Are you hungry? Y/N")
if condition == "Y":
    print("Have some food!")
elif condition == "N":
    print("Feel free")
else: 
    print("???")

# Lists
Often, we have several pieces of data we want to keep together in a particular order. This is called a List. (documentation: https://docs.python.org/3/library/stdtypes.html#sequence-types-list-tuple-range)

Lists can contain any data type (e.g., int, float, sting, as well as other lists) and are created using square brackets [ and ] like this:

In [ ]:
['monday','tuesday','wednesday','thursday','friday']

We can put them in a variable:

In [ ]:
weekdays = ['monday','tuesday','wednesday','thursday','friday','saturday','sunday']
print(weekdays)

We can get things out of a list by saying what number item we want. Counting for this starts at 0, not 1 as you might expect:

In [ ]:
print(weekdays[0])

In [ ]:
print(weekdays[6])

In [ ]:
# Figure out what number to put in to get wednesday out of the list
print(weekdays[2])

We can also get several things out at once (using `:`)- this will be another, shorter list:

In [ ]:
weekdays[0:5]

This can go into a variable as well:

In [ ]:
workingdays = weekdays[0:5]
print(workingdays)

For lists of numbers, there are some easy ways to create them:

In [ ]:
list(range(10))

In [ ]:
list(range(4,15))

We can set certain values in a list:

In [ ]:
colours = ['red', 'red', 'blue']
# oops, we've got red twice!
colours[1] = 'green'
print(colours)

There are lots more things you can do to lists - some of them are here: https://docs.python.org/3/library/stdtypes.html#mutable-sequence-types
or here:
https://docs.python.org/3/tutorial/datastructures.html#more-on-lists

## Exercises
* make a list of your friends, and then add yourself to the end of it
* make a list of some fruits, and then delete the one you don't like. Try doing this by the index (i.e. what position the fruit is in) and by using the remove() function
* use len() to find out how many days there are in the list of weekdays
* use count() to find out how many times the string 'a' appears in the list ['a', 'b', 'a', 'c', 'x', 'ac', 'b']

In [ ]:
# make a list of your friends, and then add yourself to the end of it
# hint: append()
me = "Mitty"
friendsList = ["friend1", "friend2", "friend3"]
friendsList.append(me)
print (friendsList)

In [ ]:
# make a list of some fruits, and then delete the one you don't like. 
# First, try doing this by the index (i.e. what position the fruit is in)

fruitsList = ["Apple", "Banana", "Coconut", "Durian"]
del fruitsList[3]
#fruitsList.__delitem__(3)
print (fruitsList)

In [ ]:
# Now try doing it using the value you want to remove, using remove()
fruitsList = ["Apple", "Banana", "Coconut", "Durian"]
fruitsList.remove("Durian")
print (fruitsList)

In [ ]:
# use len() to find out how many days there are in the list of weekdays
weekdays = ['monday','tuesday','wednesday','thursday','friday','saturday','sunday']
len(weekdays)

In [ ]:
# use count() to find out how many times the string 'a' appears in the list ['a', 'b', 'a', 'c', 'x', 'ac', 'b']
tempList = ['a', 'b', 'a', 'c', 'x', 'ac', 'b']
tempList.count('a')

# Loops
It is really common to want to do something lots of times - for example, to change every item in a list, or to print a sequence of numbers. This is often done with a 'for' loop. In the loop you have:

* a __list__ of things to run the loop on,
* a __variable__, which will be set to each of the things in the list
* a __block of code__, which will be carried out for each thing

It looks like this:

In [ ]:
weekdays = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday']
for day in weekdays: # We are going to set 'day' to each of the weekdays in turn
    print(day.capitalize()) # We will capitalise the day before printing it

You can also work over a range of numbers, using range(). This is particulary useful is you need to do a certain things for a fixed number of times.

In [ ]:
for num in range(10):
    print( num, '-->', num * 10 )

You can combine for loops with if and else:

In [ ]:
for num in range(10):
    if num % 2 == 0: # % means divide by that number and see what is left, so 3 % 2 = 1, 5 % 3 = 2
        print(num, "Even")
    else:
        print(num, "Odd")

You can also put for loops inside each other - for instance to go through every square in a 3x3 grid:

In [56]:
for x in range(3):
    for y in range(3):
        print('Cell',x, y )

Cell 0 0
Cell 0 1
Cell 0 2
Cell 1 0
Cell 1 1
Cell 1 2
Cell 2 0
Cell 2 1
Cell 2 2

# Dictionaries
Dictionaries are a bit like list, but they are useful when you want to associate 'keys' with 'values', rather than just numbers (as in the examples above). An example would be "What colour is each fruit?". We used numbers to work with the elements in a list - with a dictionary, we use string 'keys'. 

Dictionaries are created as key-value pairs in curly brackets { } like so:

In [57]:
fruit_colors = {'apple' : 'green', 
                'orange' : 'orange', 
                'grape':'red', 
                'banana':'yellow', 
                'apricot':'yellow'}

Note that every key can only appear once! E.g., in our example, you cannot have two colors per fruit. However, you can multiple fruits with the same color (value).

We can now access (read and write) values (colors) through their keys (fruits):

In [58]:
print(fruit_colors['apple'])
fruit_colors['apple'] = 'red'
print(fruit_colors['apple'])
print(fruit_colors)

green
red
{'apple': 'red', 'orange': 'orange', 'grape': 'red', 'banana': 'yellow', 'apricot': 'yellow'}

One common thing you need to do is go through everything in the dictionary. This is similar to doing it with a list, but slightly different:
* we get two values each time - the key and the value (here we put them into variables called k and v
* we have to call items() on the dictionary, we can't just use it directly

In [59]:
for k,v in fruit_colors.items(): 
    print(k,'is',v)

apple is red
orange is orange
grape is red
banana is yellow
apricot is yellow

Make a dictionary of your friends, and some feature of them (e.g. what colour is their hair). Write a loop that only prints out friends that have a certain attribute (e.g. all of my friends with pink hair).

In [60]:
friends = {
    'kevin':'blond',
    'jim':'pink',
    'jen':'pink',
    'harry':'bald'
}
for person,hair in friends.items():
    if hair == 'pink':
        print(person)

jim
jen

Print all fruits that are yellow, using a loop and an if-else condition on the value.

In [61]:
for k,v in fruit_colors.items(): 
    if v == 'yellow':
        print(k,'is',v)

banana is yellow
apricot is yellow

# Functions
We have been using functions without talking about them. There are several parts to a function:
* a name - how people can refer to the function, e.g. `doSomething()`.
* some arguments - what does the function need in order to do its job. Arguments (also called parameters) are written into the brackets following the function name.
* a block of code - what the function actually does each time it is called somewhere in your program
* a return value - what is the result of doing the function. This return value can then be printed or written into a variable.

Some examples that you have seen:
* len() is a function that takes one argument - a string or list etc. - and returns the length of that thing
* print() is a function that takes any number of arguments, and prints them all out

Some functions belong to objects. For example:
* "hello".capitalize() - the function capitalize 'belongs' to Strings, so you need a string to call it on.


We have been *using* functions so far, but now we can *define* them, and make your own functions. Here is a simple example:

In [62]:
def add_one(x): # Define a function called 'add_one', that takes one argument called 'x'
    value = x+1  # Do some computation
    return(value)# Give back the result when you're done

print( add_one(7) )

8

Functions can take many arguments, of different types. Here's one that takes two strings, and puts them together with a dash in between:

In [63]:
def put_together(string1, string2):
    value = string1 + '-' + string2
    return(value)

print( put_together('first','second'))

first-second

Write a function that takes two numbers and multiplies them together

In [64]:
# Define the function
def multiply(a, b):
    return a*b

# Now call it as an example
multiply(2,3)

6

Write a function that takes two strings, and counts how many times the first string appears in the second string

In [65]:
def count_sub_string(substring, string):
    count = 0
    for i in range(len(string)):
        if string[i] == substring[0] and (len(string) - i) >= len(substring):
            tempPointer = i
            for j in range(len(substring)):
                if substring[j] == string[tempPointer]:
                    tempPointer += 1
                else:break
                if j == len(substring) - 1:
                    count += 1
    return count
                


count_sub_string("AABA", "AABAACAADAABAABA")

3

# Final Exercises

## FizzBuzz
FizzBuzz is a game to play with your friends. 
* You take it in turn to say a number, starting at 1 and going up each time, so the first person says "one", second person says "two", third person says "three", going round in a circle. 
* When you can do that, if a number is divisible by 3, you say "fizz" instead of the number, so it would go: "one", "two", "fizz", "four", "five", "fizz", "seven" etc.
* Now, if a number is divisible by five, you say buzz instead: "one", "two", "fizz", "four", "buzz", "fizz", "seven" etc.
* Finally, if a number is divisible by both three *and* five, you say "fizzbuzz!"

Start by playing the game with three or more people to make sure you understand the rules
Now write a program to play it.
Tips:
* use a for loop and a range to generate all the numbers up to 100
* start by just printing the numbers
* now use if and else statements to decide what to do

In [66]:
# version 1 - check we are getting all the numbers
from ast import Try

def check_int(n):
    if int(n) is int:
        print ("There are "+ n +" people in this game!")
        num = int(n)
        return num
    else:
        print ("Invalid input! Try agian!")
        exit()

def main():
    num = 100
    for i in range (num):
        print (i+1)

main()

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [67]:
# Version 2 - replace the threes
# We can't use / to divide, need to use % to do integer division and give us what is left - try it out
def fizz(n):
    if n%3 == 0:
        print ("fizz")
    else:
        print (n)

def main():
    for i in range (100):
        fizz(i+1)

main()

1
2
fizz
4
5
fizz
7
8
fizz
10
11
fizz
13
14
fizz
16
17
fizz
19
20
fizz
22
23
fizz
25
26
fizz
28
29
fizz
31
32
fizz
34
35
fizz
37
38
fizz
40
41
fizz
43
44
fizz
46
47
fizz
49
50
fizz
52
53
fizz
55
56
fizz
58
59
fizz
61
62
fizz
64
65
fizz
67
68
fizz
70
71
fizz
73
74
fizz
76
77
fizz
79
80
fizz
82
83
fizz
85
86
fizz
88
89
fizz
91
92
fizz
94
95
fizz
97
98
fizz
100

In [68]:
# Version 3 - replace the threes and the fives
# But what happens for 15?
def fizzbuzz(n):
    if n%3 == 0:
        if n%5 == 0:
            print ("fizzbuzz!")
        elif n%5 != 0:
            print ("fizz")
    elif n%5 == 0:
        print ("buzz")
    else:
        print (n)

def main():
    for i in range(100):
        fizzbuzz(i+1)

main()

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz!
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz!
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizzbuzz!
46
47
fizz
49
buzz
fizz
52
53
fizz
buzz
56
fizz
58
59
fizzbuzz!
61
62
fizz
64
buzz
fizz
67
68
fizz
buzz
71
fizz
73
74
fizzbuzz!
76
77
fizz
79
buzz
fizz
82
83
fizz
buzz
86
fizz
88
89
fizzbuzz!
91
92
fizz
94
buzz
fizz
97
98
fizz
buzz

In [69]:
# Version 4 - replace everything
# Try changing the order of the if statements - what difference does it make?
def get_fizzbuzz_list(n, fizzbuzzList):
    if n%3 == 0:
        if n%5 == 0:
            fizzbuzzList.append("fizzbuzz")
        elif n%5 != 0:
            fizzbuzzList.append("fizz")
    elif n%5 == 0:
        fizzbuzzList.append("buzz")
    else:
        fizzbuzzList.append(n)

def main():
    fizzbuzzList = []
    for i in range(100):
        get_fizzbuzz_list(i+1, fizzbuzzList)
    print (fizzbuzzList)
    return fizzbuzzList

main()

[1, 2, 'fizz', 4, 'buzz', 'fizz', 7, 8, 'fizz', 'buzz', 11, 'fizz', 13, 14, 'fizzbuzz', 16, 17, 'fizz', 19, 'buzz', 'fizz', 22, 23, 'fizz', 'buzz', 26, 'fizz', 28, 29, 'fizzbuzz', 31, 32, 'fizz', 34, 'buzz', 'fizz', 37, 38, 'fizz', 'buzz', 41, 'fizz', 43, 44, 'fizzbuzz', 46, 47, 'fizz', 49, 'buzz', 'fizz', 52, 53, 'fizz', 'buzz', 56, 'fizz', 58, 59, 'fizzbuzz', 61, 62, 'fizz', 64, 'buzz', 'fizz', 67, 68, 'fizz', 'buzz', 71, 'fizz', 73, 74, 'fizzbuzz', 76, 77, 'fizz', 79, 'buzz', 'fizz', 82, 83, 'fizz', 'buzz', 86, 'fizz', 88, 89, 'fizzbuzz', 91, 92, 'fizz', 94, 'buzz', 'fizz', 97, 98, 'fizz', 'buzz']

[1,
 2,
 'fizz',
 4,
 'buzz',
 'fizz',
 7,
 8,
 'fizz',
 'buzz',
 11,
 'fizz',
 13,
 14,
 'fizzbuzz',
 16,
 17,
 'fizz',
 19,
 'buzz',
 'fizz',
 22,
 23,
 'fizz',
 'buzz',
 26,
 'fizz',
 28,
 29,
 'fizzbuzz',
 31,
 32,
 'fizz',
 34,
 'buzz',
 'fizz',
 37,
 38,
 'fizz',
 'buzz',
 41,
 'fizz',
 43,
 44,
 'fizzbuzz',
 46,
 47,
 'fizz',
 49,
 'buzz',
 'fizz',
 52,
 53,
 'fizz',
 'buzz',
 56,
 'fizz',
 58,
 59,
 'fizzbuzz',
 61,
 62,
 'fizz',
 64,
 'buzz',
 'fizz',
 67,
 68,
 'fizz',
 'buzz',
 71,
 'fizz',
 73,
 74,
 'fizzbuzz',
 76,
 77,
 'fizz',
 79,
 'buzz',
 'fizz',
 82,
 83,
 'fizz',
 'buzz',
 86,
 'fizz',
 88,
 89,
 'fizzbuzz',
 91,
 92,
 'fizz',
 94,
 'buzz',
 'fizz',
 97,
 98,
 'fizz',
 'buzz']

## Personal Program
Find something in your daily life where you make a decision. It could be something like:

- deciding where to eat depending on what the weather is like and how hungry you are
- deciding what game to play based on which of your friends is joining in

Write down the variables that go into your decision, and then try to model your thinking using if and else statements (this is a repeat of the exercise further up, just in case you skipped it first time around)

Tips:
- start simple, and then gradually get more complex
- Write using comments first, and then replace them with code

So you might start from an idea:
```
# On games night, most people like to play poker, but Kelly really doesn't like poker
```

Then turn it into detailed comments:
```
# if Kelly is here, we play Jenga

# otherwise we play Poker
```

Then start turning it into code. Start with the variables:
```
# Is Kelly here? Change this value to explore different scenarios
kelly = True

# if Kelly is here, we play Jenga

# otherwise we play Poker
```

Then fill in the logic:
```
# Is Kelly here? Change this value to explore different scenarios
kelly = True

# if Kelly is here, we play Jenga
if kelly:
    print("Playing Jenga")
# otherwise we play Poker
else:
    print("Playing Poker!")
```

Then you might make it more complex - maybe when Kelly and Jem get together, they always knock over the Jenga tower, so it's better to play tiddlywinks:
```
# Are Kelly and Jen here? Change this value to explore different scenarios
kelly = True
jen = True

# if Kelly is here, we play Jenga
if kelly and jen:
    print("Playing Tiddlywinks")
elif kelly and jen:
    print("Playing Jenga")
# otherwise we play Poker
else:
    print("Playing Poker!")
```

In [70]:
def meal_decision(isHungry, isRaining):
    if isHungry:
        if isRaining:
            print("order delivery")
        else:
            print("go out to get some food")

isHungry = 1
isRaining = 0
meal_decision(isHungry, isRaining)

go out to get some food